*

# Manually include root-level directories
!examples/
!examples/**/
!include/
!include/**/
!project/
!project/**/
!source/
!source/**/
!test/
!test/**/
!.github/
!.github/**/

!*.*
*~/
.*
!.git*
*.~*
*.o
*.bkp
*.[bB][aA][kK]
*.[dD][sS][wW]
*.[cC][sS][mM]
*.[eE][xX][eE]
*.[lL][iI][bB]
*.[oO][bB][jJ]
*.[dD][sS][tT]
*.[dD][sS][kK]
*.[pP][rR][jJ]
*.[mM][aA][pP]
*.[cC][fF][gG]
*.[iI][nN][cC]
*.[cC]32
*.[tT][dD]
*.[tT][rR]
*.[tT][rR]2
*.[fhFH]16
*.[fhFH]32
*.kate-swp
*.a
*.ilk
*.pdb
*.ninja
*.lwi
*.log
perf.data*
callgrind.out*

*.kdev4
*.vcxproj*
*.sln

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
compile_commands.json
