*.bak
*.obj
*.lib
*.dsw
*.csm
*.~*
*.o
*.bkp
*.dst
*.exe
*.lib

objdos
objtvdos
objdos32
objtvd32

*.kdev4
build

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
compile_commands.json

libtvision.a
hello
