*
!*.*
.*
!.git*
*.bak
*.dsw
*.csm
*.~*
*.o
*.bkp
*.[eE][xX][eE]
*.[lL][iI][bB]
*.[oO][bB][jJ]
*.[dD][sS][tT]
*.kate-swp
*.CFG
*.INC
*.C32
*.map
*.a
*.ilk
*.pdb
*.ninja

*.kdev4
*.vcxproj*
*.sln

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
compile_commands.json
